body {
  background-color: green;
}

h1 {
  background-color: red;
  border-radius: 10px;
  border: 2px solid purple;
  padding: 20px;
  width: 800px;
  height: auto;
  margin: 20px auto;
  font-size: 24px;
}