.juan{
    font-size: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #de6a62;
    margin: 0px;

}

.toe{
    font-size: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2395db;
    margin: 0px;

}

body{
    margin: 0;


}